datacatalog-dashboard/src/main/resources/CatalogService.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.cs.indiana.edu/dde/namespaces/2008/02/catalog/domain" xmlns:xmc="http://www.cs.indiana.edu/dde/namespaces/2008/02/catalog/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cs.indiana.edu/dde/namespaces/2008/02/catalog/types">
<xsd:annotation>
<xsd:documentation>
			Copyright 2007 The Trustees of Indiana University
			
			Licensed under the Apache License, Version 2.0 (the "License");
			you may not use this file except in compliance with the License.
			You may obtain a copy of the License at
			
			http://www.apache.org/licenses/LICENSE-2.0
			
			Unless required by applicable law or areed to in writing, software
			distributed under the License is distributed on an "AS IS" BASIS,
			WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
			See the License for the specific language governing permissions and
			limitations under the License.

			Author: Scott Jensen, scjensen@cs.indiana.edu
			Version 1.2.1
		</xsd:documentation>
</xsd:annotation>
<xsd:include schemaLocation="CatalogService1.xsd"/>
<xsd:import namespace="http://www.cs.indiana.edu/dde/namespaces/2008/02/catalog/domain"/>
<xsd:element name="catalogStat">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkStatusRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkStatusResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:catalogStat"/>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="lastUpdateRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="lastUpdateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="lastUpdated" type="xsd:long"/>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="userAddrType">
<xsd:sequence>
<xsd:element minOccurs="0" name="addrType" type="xsd:string"/>
<xsd:element minOccurs="0" name="addrStreet" type="xsd:string"/>
<xsd:element minOccurs="0" name="addrCity" type="xsd:string"/>
<xsd:element minOccurs="0" name="addrState" type="xsd:string"/>
<xsd:element minOccurs="0" name="addrPostcode" type="xsd:string"/>
<xsd:element minOccurs="0" name="addrCountry" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="userType">
<xsd:sequence>
<xsd:element name="userId" type="xsd:string"/>
<xsd:element minOccurs="0" name="userName" type="xsd:string"/>
<xsd:element minOccurs="0" name="organization" type="xsd:string"/>
<xsd:element minOccurs="0" name="position" type="xsd:string"/>
<xsd:element minOccurs="0" name="address" type="xmc:userAddrType"/>
<xsd:element minOccurs="0" name="phone" type="xsd:string"/>
<xsd:element minOccurs="0" name="ttdttyPhone" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
<xsd:element minOccurs="0" name="fax" type="xsd:string"/>
<xsd:element minOccurs="0" name="url" type="xsd:string"/>
<xsd:element minOccurs="0" name="hours" type="xsd:string"/>
<xsd:element minOccurs="0" name="contactInstructions" type="xsd:string"/>
<xsd:element minOccurs="0" ref="xmc:initialWorkspace"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="catalogUser" type="xmc:userType"/>
<xsd:complexType name="initialObjectType">
<xsd:sequence>
<xsd:element ref="xmc:catalogData"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:initialObject"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="initialObject" type="xmc:initialObjectType"/>
<xsd:complexType name="initialWorkspaceType">
<xsd:sequence>
<xsd:element minOccurs="0" name="whiteboard" type="xmc:initialObjectType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:initialObject"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="initialWorkspace" type="xmc:initialWorkspaceType"/>
<xsd:element name="createUserRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" ref="xmc:catalogUser"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateUserRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="userId" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" ref="xmc:catalogUser"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteUserRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" name="deletedUserId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryUserRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="userId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:catalogUser"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="doesUserExistRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="doesUserExistResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:element name="userExists" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="whiteboardIdRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="whiteboardIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:element name="objectId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="catalogData" type="cat:catalogDataType"/>
<xsd:element name="assignObjectRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element name="parentId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="assignObjectResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createObjectRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" ref="xmc:catalogData"/>
<xsd:element minOccurs="0" name="assignIfExists" type="xsd:boolean"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createObjectResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteObjectRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" name="objectId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteObjectResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="moveObjectRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element name="parentId" type="xsd:string"/>
<xsd:element minOccurs="0" name="newUserId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="moveObjectResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="objectExistsRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="objectExistsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:element name="objectExists" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="catalogPropertyType">
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" ref="cat:catalogPropertyAdd"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="catalogProperty" type="xmc:catalogPropertyType"/>
<xsd:element name="addPropertyRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" ref="xmc:catalogProperty"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addPropertyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="updatePropertyType">
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element ref="cat:catalogPropertyUpdate"/>
<xsd:element minOccurs="0" name="position" type="xsd:int"/>
<xsd:element minOccurs="0" name="lastUpdate" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="updateProperty" type="xmc:updatePropertyType"/>
<xsd:element name="updatePropertyRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:updateProperty"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updatePropertyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="deletePropertyRangeType">
<xsd:sequence>
<xsd:element name="first" type="xsd:int"/>
<xsd:element name="last" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="deletePropertyType">
<xsd:sequence>
<xsd:element name="objectId" type="xsd:string"/>
<xsd:element name="propertyName" type="xsd:string"/>
<xsd:element name="propertySource" type="xsd:string"/>
<xsd:choice minOccurs="0">
<xsd:element maxOccurs="unbounded" name="position" type="xsd:int"/>
<xsd:element name="propertyRange" type="xmc:deletePropertyRangeType"/>
</xsd:choice>
<xsd:element name="lastUpdate" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="deleteProperty" type="xmc:deletePropertyType"/>
<xsd:element name="deletePropertyRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:deleteProperty"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deletePropertyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="hierarchyFilterType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="TARGET"/>
<xsd:enumeration value="SUBTREE"/>
<xsd:enumeration value="CHILDREN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="hierarchyFilter" type="xmc:hierarchyFilterType"/>
<xsd:complexType name="parentChildFilterType">
<xsd:sequence>
<xsd:element name="distLimit" type="xsd:int"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="excluded" type="cat:catalogAggregationType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="hierarchyFilterSetType">
<xsd:sequence>
<xsd:element minOccurs="0" name="parentFilter" type="xmc:parentChildFilterType"/>
<xsd:element minOccurs="0" name="childFilter" type="xmc:parentChildFilterType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="hierarchyFilterSet" type="xmc:hierarchyFilterSetType"/>
<xsd:simpleType name="contentFilterType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ID_ONLY"/>
<xsd:enumeration value="FULL_SCHEMA"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="contentFilter" type="xmc:contentFilterType"/>
<xsd:complexType name="propertyFilterType">
<xsd:sequence>
<xsd:element name="propertyName" type="xsd:string"/>
<xsd:element name="propertySource" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="propertyFilter" type="xmc:propertyFilterType"/>
<xsd:complexType name="elementFilterType">
<xsd:sequence>
<xsd:element name="propertyName" type="xsd:string"/>
<xsd:element name="propertySource" type="xsd:string"/>
<xsd:element name="elementName" type="xsd:string"/>
<xsd:element name="elementSource" type="xsd:string"/>
<xsd:element minOccurs="0" name="elementFilter" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="elementFilter" type="xmc:elementFilterType"/>
<xsd:complexType name="propertyExclusionType">
<xsd:sequence>
<xsd:element name="propertyName" type="xsd:string"/>
<xsd:element minOccurs="0" name="propertySource" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="propertyExclusion" type="xmc:propertyExclusionType"/>
<xsd:simpleType name="comparisonType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="EQ"/>
<xsd:enumeration value="NE"/>
<xsd:enumeration value="GT"/>
<xsd:enumeration value="GTE"/>
<xsd:enumeration value="LT"/>
<xsd:enumeration value="LTE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="spatialComparisonType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="EQ"/>
<xsd:enumeration value="CONTAINS"/>
<xsd:enumeration value="WITHIN"/>
<xsd:enumeration value="INTERSECTS"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="textComparisonType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="EXACT"/>
<xsd:enumeration value="STARTSWITH"/>
<xsd:enumeration value="CONTAINS"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="queryXyPointType">
<xsd:sequence>
<xsd:element name="xPos" type="xsd:decimal"/>
<xsd:element name="yPos" type="xsd:decimal"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="queryTextElementType">
<xsd:sequence>
<xsd:element name="value" type="xsd:string"/>
<xsd:element name="compare" type="xmc:textComparisonType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryTextElement" type="xmc:queryTextElementType"/>
<xsd:complexType name="queryValueElementType">
<xsd:sequence>
<xsd:element name="value" type="xsd:string"/>
<xsd:element name="comparison" type="xmc:comparisonType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryValueElement" type="xmc:queryValueElementType"/>
<xsd:complexType name="queryRangeElementType">
<xsd:sequence>
<xsd:element name="start" type="xsd:string"/>
<xsd:element name="end" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryRangeElement" type="xmc:queryRangeElementType"/>
<xsd:complexType name="queryPointElementType">
<xsd:sequence>
<xsd:element name="xyPoint" type="xmc:queryXyPointType"/>
<xsd:element name="spatialComparison" type="xmc:spatialComparisonType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryPointElement" type="xmc:queryPointElementType"/>
<xsd:complexType name="queryPolygonElementType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="4" name="xyPoint" type="xmc:queryXyPointType"/>
<xsd:element name="spatialComparison" type="xmc:spatialComparisonType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryPolygonElement" type="xmc:queryPolygonElementType"/>
<xsd:complexType name="queryElementType">
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="source" type="xsd:string"/>
<xsd:choice minOccurs="0">
<xsd:element ref="xmc:queryTextElement"/>
<xsd:element ref="xmc:queryValueElement"/>
<xsd:element ref="xmc:queryRangeElement"/>
<xsd:element ref="xmc:queryPointElement"/>
<xsd:element ref="xmc:queryPolygonElement"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute default="false" name="parameterize" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryElement" type="xmc:queryElementType"/>
<xsd:complexType name="queryElementOrSetType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryElementAndSet"/>
<xsd:element ref="xmc:queryElement"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryElementOrSet" type="xmc:queryElementOrSetType"/>
<xsd:complexType name="queryElementAndSetType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryElementOrSet"/>
<xsd:element ref="xmc:queryElement"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryElementAndSet" type="xmc:queryElementAndSetType"/>
<xsd:complexType name="queryPropertyType">
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="source" type="xsd:string"/>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="xmc:queryElementOrSet"/>
<xsd:element ref="xmc:queryElement"/>
</xsd:choice>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="xmc:queryPropertyOrSet"/>
<xsd:element ref="xmc:queryProperty"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryProperty" type="xmc:queryPropertyType"/>
<xsd:complexType name="queryPropertyOrSetType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryPropertyAndSet"/>
<xsd:element ref="xmc:queryProperty"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryPropertyOrSet" type="xmc:queryPropertyOrSetType"/>
<xsd:complexType name="queryPropertyAndSetType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryPropertyOrSet"/>
<xsd:element ref="xmc:queryProperty"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryPropertyAndSet" type="xmc:queryPropertyAndSetType"/>
<xsd:complexType name="queryObjectType">
<xsd:sequence>
<xsd:element name="aggrType" type="cat:catalogAggregationType"/>
<xsd:element minOccurs="0" name="objectId" type="xsd:string"/>
<xsd:element minOccurs="0" name="createDateStart" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="createDateEnd" type="xsd:dateTime"/>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="xmc:queryPropertyOrSet"/>
<xsd:element ref="xmc:queryProperty"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
<xsd:attribute name="description" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:element name="queryTarget" type="xmc:queryObjectType"/>
<xsd:complexType name="queryComponentType">
<xsd:complexContent>
<xsd:extension base="xmc:queryObjectType">
<xsd:sequence>
<xsd:element name="relation" type="xmc:contextType"/>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="xmc:queryOrSet"/>
<xsd:element ref="xmc:queryComponent"/>
</xsd:choice>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="queryComponent" type="xmc:queryComponentType"/>
<xsd:simpleType name="contextType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PARENT"/>
<xsd:enumeration value="DIRECT_PARENT"/>
<xsd:enumeration value="CHILD"/>
<xsd:enumeration value="DIRECT_CHILD"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="queryOrSetType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryAndSet"/>
<xsd:element ref="xmc:queryComponent"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
</xsd:complexType>
<xsd:element name="queryOrSet" type="xmc:queryOrSetType"/>
<xsd:complexType name="queryAndSetType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryOrSet"/>
<xsd:element ref="xmc:queryComponent"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
</xsd:complexType>
<xsd:element name="queryAndSet" type="xmc:queryAndSetType"/>
<xsd:complexType name="contextQueryType">
<xsd:sequence>
<xsd:choice maxOccurs="unbounded">
<xsd:element ref="xmc:queryOrSet"/>
<xsd:element ref="xmc:queryComponent"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute default="false" name="negate" type="xsd:boolean" use="optional"/>
</xsd:complexType>
<xsd:element name="contextQuery" type="xmc:contextQueryType"/>
<xsd:simpleType name="catalogDeliveryType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NONE"/>
<xsd:enumeration value="DIRECT"/>
<xsd:enumeration value="STREAMING"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="queryResultFormatType">
<xsd:sequence>
<xsd:element name="offset" type="xsd:int"/>
<xsd:element name="count" type="xsd:int"/>
<xsd:choice>
<xsd:element ref="xmc:hierarchyFilter"/>
<xsd:element ref="xmc:hierarchyFilterSet"/>
</xsd:choice>
<xsd:choice>
<xsd:element ref="xmc:contentFilter"/>
<xsd:element maxOccurs="unbounded" ref="xmc:propertyFilter"/>
<xsd:element maxOccurs="unbounded" ref="xmc:elementFilter"/>
</xsd:choice>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:propertyExclusion"/>
<xsd:element minOccurs="0" name="showHasChildren" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="showCreateDate" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="showModifyDate" type="xsd:boolean"/>
<xsd:element name="resultDeliveryMethod" type="xmc:catalogDeliveryType"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryResultFormat" type="xmc:queryResultFormatType"/>
<xsd:element name="objectSetResponse">
<xsd:annotation>
<xsd:documentation>
				The object set type is used to return a set of instances of 
				schema-valid instances as defined by the members of the 
				catalog object group.  The objects must indicate their
				relationships within the object instances themselves if the
				parent - child relationships are relevant.
			</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence maxOccurs="unbounded">
<xsd:group ref="cat:catalogObjectGroup"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="guidResponseType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:guidResponse"/>
</xsd:sequence>
<xsd:attribute name="objectClass" type="cat:catalogAggregationType" use="required"/>
<xsd:attribute name="objectId" type="xsd:string" use="required"/>
<xsd:attribute default="false" name="hasChildren" type="xsd:boolean" use="optional"/>
<xsd:attribute name="creationDate" type="xsd:long" use="optional"/>
<xsd:attribute name="modificationDate" type="xsd:long" use="optional"/>
</xsd:complexType>
<xsd:element name="guidResponse" type="xmc:guidResponseType"/>
<xsd:element name="metadataElement">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="elementResponseType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:metadataElement"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:elementResponse"/>
</xsd:sequence>
<xsd:attribute name="objectClass" type="cat:catalogAggregationType" use="required"/>
<xsd:attribute name="objectId" type="xsd:string" use="required"/>
<xsd:attribute default="false" name="hasChildren" type="xsd:boolean" use="optional"/>
<xsd:attribute name="creationDate" type="xsd:long" use="optional"/>
<xsd:attribute name="modificationDate" type="xsd:long" use="optional"/>
</xsd:complexType>
<xsd:element name="elementResponse" type="xmc:elementResponseType"/>
<xsd:complexType name="queryResponseSetType">
<xsd:sequence>
<xsd:choice>
<xsd:element minOccurs="0" ref="xmc:objectSetResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:guidResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cat:objectResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="cat:propertyResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:elementResponse"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryResponseSet" nillable="true" type="xmc:queryResponseSetType"/>
<xsd:complexType name="queryResponseType">
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:choice>
<xsd:element name="resultStreamUrl" nillable="true" type="xsd:anyURI"/>
<xsd:element ref="xmc:queryResponseSet"/>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="timestamp" type="xsd:long" use="required"/>
</xsd:complexType>
<xsd:element name="queryResponse" type="xmc:queryResponseType"/>
<xsd:element name="contextQueryRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:queryTarget"/>
<xsd:element minOccurs="0" ref="xmc:contextQuery"/>
<xsd:element ref="xmc:queryResultFormat"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="objectIdQueryRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" name="objectId" type="xsd:string"/>
<xsd:element ref="xmc:queryResultFormat"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="allWorkspaceQueryRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" ref="xmc:queryResultFormat"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryPropertyDefinitionsRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="resultDeliveryMethod" type="xmc:catalogDeliveryType"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="metadataElementDefType">
<xsd:sequence>
<xsd:element name="elementId" type="xsd:int"/>
<xsd:element name="elementName" type="xsd:string"/>
<xsd:element name="elementSource" type="xsd:string"/>
<xsd:element name="elementDesc" type="xsd:string"/>
<xsd:element name="elementShortDesc" type="xsd:string"/>
<xsd:element name="elementType" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="metadataPropertyDefType">
<xsd:sequence>
<xsd:element name="propertyId" type="xsd:int"/>
<xsd:element name="propertyName" type="xsd:string"/>
<xsd:element name="propertySource" type="xsd:string"/>
<xsd:element name="propertyDesc" type="xsd:string"/>
<xsd:element name="propertyShortDesc" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="metadataElementDef" type="xmc:metadataElementDefType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:metadataPropertyDef"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="metadataPropertyDef" type="xmc:metadataPropertyDefType"/>
<xsd:complexType name="metadataCategoryDefType">
<xsd:sequence>
<xsd:element name="categoryId" type="xsd:int"/>
<xsd:element name="categoryName" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="xmc:metadataPropertyDef"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="metadataDefinitionType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" name="metadataCategoryDef" type="xmc:metadataCategoryDefType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="metadataDefinition" nillable="true" type="xmc:metadataDefinitionType"/>
<xsd:element name="queryPropertyDefinitionsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:choice>
<xsd:element ref="xmc:metadataDefinition"/>
<xsd:element name="resultStreamUrl" nillable="true" type="xsd:anyURI"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAllQueryDescriptionsRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="resultDeliveryMethod" type="xmc:catalogDeliveryType"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="queryDescriptionType">
<xsd:sequence>
<xsd:element name="queryId" type="xsd:string"/>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="description" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="queryDescriptionSetType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="templateQuery" type="xmc:queryDescriptionType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="privateQuery" type="xmc:queryDescriptionType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryDescriptionSet" type="xmc:queryDescriptionSetType"/>
<xsd:element name="getAllQueryDescriptionsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:choice minOccurs="0">
<xsd:element ref="xmc:queryDescriptionSet"/>
<xsd:element name="resultStreamUrl" nillable="true" type="xsd:anyURI"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getQueryDefinitionRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="queryId" type="xsd:string"/>
<xsd:element name="resultDeliveryMethod" type="xmc:catalogDeliveryType"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="queryDefinitionType">
<xsd:sequence>
<xsd:element ref="xmc:queryTarget"/>
<xsd:element minOccurs="0" ref="xmc:contextQuery"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryDefinition" type="xmc:queryDefinitionType"/>
<xsd:element name="getQueryDefinitionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
<xsd:choice minOccurs="0">
<xsd:element ref="xmc:queryDefinition"/>
<xsd:element name="resultStreamUrl" nillable="true" type="xsd:anyURI"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="saveQueryDefinitionRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="title" type="xsd:string"/>
<xsd:element name="description" type="xsd:string"/>
<xsd:element minOccurs="0" name="queryId" type="xsd:string"/>
<xsd:element ref="xmc:queryDefinition"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
<xsd:attribute default="false" name="public" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="saveQueryDefinitionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="queryId" nillable="true" type="xsd:string"/>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteQueryDefinitionRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="queryId" type="xsd:string"/>
<xsd:element name="errorDeliveryMethod" type="xmc:catalogDeliveryType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteQueryDefinitionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="xmc:catalogOperationStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
